/*reset css*/
ul li {
	list-style: none;
}

a {
  text-decoration: none;
  color: #262626;
}
/*end reset css*/




/*darkmode*/
.dark {
	background-color: #333333;
	color: #bfbfbf;
}

.dark .navbar {
	background-color: #262626;
}

.dark .sdatang {
	background-color: #262626;
}

.dark .kperkuliahan {
	background-color: #262626;
}

.dark .moduls {
	background-color: #262626;
}

.dark .berita {
	background-color: #262626;
}

.dark .footer {
	background-color: #262626;
}

.dark .btn-user {
  color: #bfbfbf;
}

  /*darkmode login&signup*/
  .dark .form-masuk {
  	background-color: #262626;
  }
  .dark .form-daftar {
    background-color: #262626;
  }
  /*end login&signup*/


  /*darkmode dashboard graph*/
  .dark .nav-graph {
    color: #bfbfbf;
  }

  .dark .nav-ddosen {
    color: #bfbfbf;
  }

  .dark .nav-dmhs {
    color: #bfbfbf;
  }

  .dark .nav-dmatkul {
    color: #bfbfbf;
  }

  .dark .jmldosen {
    background-color: #262626;
  }

  .dark .jmlmhs {
    background-color: #262626;
  }

  .dark .jmlperkuliahan {
    background-color: #262626;
  }
  /*end darkmode dashboard graph*/


  /*darkmode dashboard data dosen&mhs*/
  .dark .tabel-dosen {
    background-color: #262626;
    color: #bfbfbf;
  }

  .dark .tabel-mhs {
    background-color: #262626;
    color: #bfbfbf;
  }

  .dark .form-tdata {
    background-color: #262626;
  }

  .dark .form-edata {
    background-color: #262626;
  }
  /*end dashboard data dosen&mhs*/


  /*darkmode dmatkul*/
  .dark .accordion-button {
    background-color: #262626;
    color: #bfbfbf ;
  }

  .dark .table-dmatkul {
    color: #bfbfbf;
  }

  .dark .accordion-body{
    background-color: #333333;
    color: #bfbfbf;
  } 
  /*end darkmode dmatkul*/


  /*darkmode users mhs&dosen*/
  .dark .perkuliahan-yss-ikuti {
    background-color: #262626;
  }

  .dark .pratinjau-mk {
    background-color: #262626;
  }

  .dark .tabel-kelas {
    color: #bfbfbf;
  }

  .dark .list-perkuliahan {
    color: #bfbfbf;
  }

  .dark .list-matakuliah {
    color: #bfbfbf;
  }
  /*end darkmode users mhs&dosen*/

/*end darkmode*/


/*main*/
.navbar, 
.sdatang, 
.kperkuliahan, 
.moduls, 
.berita, 
.footer, 
.form-masuk,
.form-daftar, 
.form-tdata, 
.form-edata, 
.jmldosen, 
.jmlmhs, 
.jmlperkuliahan,
.accordion-button{
	background-color:	#f2f2f2;
}

#petunjuk {
	margin-top: 120px;
}

.berita {
	height: 400px;
}

.footer {
	height: 100px;
}

#darkBtn {
  cursor: pointer;
}

  /*main masuk*/
  #form-masuk {
  	margin-top: 120px;
  }
  /*end main masuk*/


  /*main user*/
  .main {
    margin-top: 110px;
  }

  .list-perkuliahan:hover {
    color: #737373;
  }

  .list-matakuliah:hover {
    color: #737373;
  }
  /*end main user*/

/*end main*/


/*breakpoint*/
/* Untuk Tablet */
@media all and (max-width: 1200px) {
	.modul {
		width: 300px;
	}

	.kperkuliahan {
  	margin-bottom: 20px;
  }
}

/* Untuk nav dashboard */
@media all and (max-width: 800px) {
  .jgraph, .jddosen, .jdmhs, .jmatkul{
    display: none;
  }
}

/* Untuk Smartphone/mobile */
@media all and (max-width: 670px) {
  .logo-header {
  	width: 200px;
  }

  .modul {
  	width: 250px;
  }

  #sambutan {
  	font-size: 15px;
  }

  #sambutan, #fitur, #berita {
  	margin-left: 5px;
  	margin-right: 5px;
  }
/*bagian masuk(log In)*/
  #masuk .footer{
    position: unset;  
  }
/*end bagian masuk(log In)*/

/*bagian daftar(sign up)*/
  #daftar {
  	height: 1000px;
  }
/*end bagian daftar(sign up)*/

/*bagian admin*/
  .logo-header {
  	width: 150px;
  }

  .dashboard-matkul, .dashboard-users-mhs {
    height: 800px; 
  }

  .dashboard-graph {
    height: 1000px;
  }
/*end bagian admin*/
#userDosen .footer {
  position: unset;
}

/*bagian user dosen*/

/*end bagian user dosen*/

/*end breakpoint*/